<div class="footer">
    <div class="footer__container">
        <div>
            <a href="#"><img src="../assets/images/header/logo (2).png" alt="#"></a>
            <a class="email" href="#">fokinam@calcul.ru</a>
            <a href="#">+7 495 223-00-33</a>
        </div>
        <div>
            <span>Product</span>
            <a href="#">Insurance</a>
            <a href="#">Banks</a>
            <a href="#">Leasing</a>
            <a href="#">Cases</a>
        </div>
        <div>
            <span>Company</span>
            <a href="#">Partners</a>
            <a href="#">News</a>
            <a href="#">Contacts</a>
        </div>
        <div>
            <span>Legal</span>
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contacts</a>
        </div>
        <div>
            <button>Dowload App</button>
        </div>
    </div>
    <hr>
    <div class="footer__end">
        <div><p>© 2022 VIEWAPP UG. All rights reserved.</p></div>
        <div><p>Germany, NordparkstraBe 30, 03044 Cottbus</p></div>
    </div>
</div>