<div class="header">
    
    <a href="#" class="logoContainer">
        <img src="../assets/images/header/logo.png" alt="#">
    </a>
        <div class="menuContainer">
            <div class="menuItems">
                <a href="#">About Product</a>
                <a href="../industri.html">Industries</a>
                <a href="#">Cases</a>
                <a href="#">Partners</a>
                <a href="#">News</a>
                <a href="#">Contacts</a>
                <a href="#">Legal information</a>
            </div>
        </div>
        
        <div class="contactsContainer">
            <div class="languageContainer">
                <div>
                    <a href="#">English</a>
                </div>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div>Get a Demo</div>
                </button>
            </div>
        </div>

        <!-- <div class="menuBtn">
            <svg>
                <use href="#burgerIco"></use>
            </svg>
        </div> -->
        
</div>