@font-face {
    font-family: 'PT-Root' ;
    src: url(/Practics/yasunov/src/assets/fonts/PT-Root-UI_Bold.ttf) format('truetype'),
    url(../fonts/PT-Root-UI_Light.ttf),
    url(../fonts/PT-Root-UI_Medium.ttf);
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Moon+Dance&family=PT+Serif&display=swap');