.footer
{
    display: flex;
    flex-direction: column;
    margin-top: 4.8rem;
    padding-bottom: 3.2rem;
    padding-top: 4.8rem;
    align-items: center;
    background: #0E1E33;
    width: 100%;

    .footer__container
    {
        display: flex;
        flex-direction: row;
        gap: 11.4rem;
        align-items: baseline;
        div{
            display: flex;
            flex-direction: column;
            .email
            {
                margin-top: 2.4rem;
            }
            span
            {  
                color: white;
                font-family: 'PT-Root';
                font-style: normal;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 3.2rem;
                margin-bottom: 1.6rem;
            }
            a
            {
                color: white;
                font-family: 'PT-Root';
                font-style: normal;
                font-weight: 400;
                font-size: 2rem;
                margin-bottom: 1rem;
                text-decoration: none;
            }
        
            button
            {
                    background: #FFFFFF;
                    font-weight: 400;
                    font-size: 1.8rem;
                    width: 14.8rem;
                    height: 4.8rem;
                    text-align: center;
                    color: #0E1E33;
                    gap: 0.5rem;
                    border-color: #FFFFFF;
                    border-style: none;
                    border-radius: 0.8rem ;

                    @include breakpoint($lb-bp) {
                        font-size: 1.5rem;
                    } 
            }
        }
    }  
    hr 
    {
        margin-top: 4.7rem;
        margin-bottom: 3.2rem;
        width: 117rem;
        color: #FFFFFF;
        height: 0.1rem;
        background: #FFFFFF;
        border-radius: 4px;
    }
    .footer__end
    {
        display: flex;
        gap: 39rem;
        p
        {
            font-family: 'PT-Root';
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 3.2rem;
            color: #FFFFFF;
        }
    }
}
