 .header {
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    @include breakpoint($srm-bp) {
        position: unset;
    }
    

    @include breakpoint($ssh-bp) {
        justify-content: space-between;
    }

    @include breakpoint($hb-bp) {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        flex-direction: column;
        gap: 1rem;
    }

    @include breakpoint($ll_bp) {
        justify-content: space-around;
        
    }

    .logoContainer {

        @include breakpoint($ssh-bp) {
            margin-right: 7rem;
        }

        @include breakpoint($cos_bp) {
            // margin-right: 1000rem;
        }

        @include breakpoint($lb-bp) {
            width: 35%;
        }

        @include breakpoint($sm-bp) {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }


        img {
            width: 100%;
        }
        
    }
        .menuContainer {
            display: flex;
            gap: 2.1rem;

            @include breakpoint($ssh-bp) {

            }

            @include breakpoint($mm-bp) {
                margin-right: 10rem;
            }      

            @include breakpoint($cos_bp) {
                margin-right: 7rem;
            }

            @include breakpoint($ll_bp) {
                margin-right: 0;

            }

            @include breakpoint($xl-bp) {
                display: none;
            }
         
            .menuItems {
                display: flex;
                justify-content: space-between;
                gap: 3.2rem;
                a {
                    font-family: 'PT-Root';
                    font-style: normal;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.9rem;
                    text-align: center;
                    color: #0E1E33;
                    text-decoration: none;
                }

                a:hover {
                    transition: linear 0.2s;
                }
            }
        }

        .contactsContainer {
            @include breakpoint($sm-bp) {
                gap: 1rem;
            }

            .languageContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3.2rem;

                @include breakpoint($sm-bp) {
                    justify-content: space-between;
                }

                button {
                    background: #2DC36A;
                    font-weight: 400;
                    font-size: 1.8rem;
                    width: 14.8rem;
                    height: 4.8rem;
                    text-align: center;
                    color: white;
                    gap: 0.5rem;
                    border-color: #2DC36A;
                    border-style: none;
                    border-radius: 0.8rem ;

                    @include breakpoint($lb-bp) {
                        font-size: 1.5rem;
                    }
                }

                button:hover {
              
                }

                button:active {
             
                }

                div {
                    a {
                        font-family: "PT-Root";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        // letter-spacing: 0.03em;
                        color: #0E1E33;
                        text-decoration: none;
                        // padding-left: 0.6rem;

                        @include breakpoint($lb-bp) {
                            font-size: 1.6rem;
                        }
                    }
                }

            }  
    }
}